---
let tracks1 = [

  {
    "image":"/img/2024/11.png",
    "name":"Emerging Technology Zone",
    "content":"The Emerging Technology Zone at Huddle Global 2024 features groundbreaking startups, top student projects, cutting-edge research, and interactive tech demos. This showcase provides a comprehensive view of state-of-the-art technological innovations.",
    "link":""
  },
  {
    "image":"/img/2024/22.png",
    "name":"Sustainability Zone ",
    "content":"The Sustainability Zone at Huddle Global 2024 highlights advancements in sustainable practices through sessions, startups, student projects, research, and interactive demos. It showcases initiatives aligned with the Sustainable Development Goals, offering a comprehensive look at innovations shaping a greener world.",
    "link":""
  },
  {
    "image":"/img/2024/33.png",
    "name":"Funding Mania",
    "content":"Funding Mania at Huddle Global 2024 is the hub for investment opportunities and financial insights. It features sessions on investments, investability ratings, investor speed dating, the Tiger's Claw competition, and the Investor Zone for startups to connect with potential investors. This space is perfect for securing financial backing for innovative ventures.",
    "link":""
  },
  {
    "image":"/img/2024/market.jpg",
    "name":"Marketing Madness",
    "content":"Marketing Madness at Huddle Global 2024 is the hub for the latest marketing strategies and innovations. It features talks, innovation centers, live outreach, digital branding sessions, the Marketing Expo, and the Branding Challenge. This space is perfect for discovering cutting-edge techniques and engaging with industry leaders.",
    "link":""
  },
  {
    "image":"/img/2024/44.png",
    "name":"Business Sphere",
    "content":"Business Sphere at Huddle Global 2024 fosters business connections and opportunities. It features Close the Deal sessions, MSME and startup meetups, Business Talks on government and corporate innovation, and B2B pitching. This space is ideal for networking, collaboration, and business growth.",
    "link":""
  },
  {
    "image":"/img/2024/huddlespeeddating.png",
    "name":"Huddle Speed Dating",
    "content":"Huddle Speed Dating at Huddle Global 2024 is a dynamic networking platform. It features MIND sessions, Cofounder Dating, and Startup 360 for entrepreneurs to meet potential partners. Participants can also benefit from brand consulting, masterclasses, workshops, and bootcamps, making it a comprehensive space for mentorship, networking, and professional growth.",
    "link":""
  },
  {
    "image":"/img/2024/99.webp",
    "name":" Deeptech Zone",
    "content":"The Deeptech Zone at Huddle Global 2024 showcases innovation in deep technology. It features knowledge sessions, the Deeptech Startup Expo, the Deeptech Student Innovations Expo, and the Deeptech Research Innovation Expos. Interactive demonstrations at the Deeptech Experience Centres provide a hands-on glimpse into the future of deep technology.",
    "link":""
  },
  {
    "image":"/img/2024/78.avif",
    "name":"Beyond Borders",
    "content":"Discover Beyond Borders, where boundaries dissolve and opportunities flourish. Engage in Global Talks with experts on international markets, explore diverse innovation at Country Pavilions, and connect with global opportunities at the Market Access Startups Expo. Beyond Borders opens doors to new horizons and endless possibilities.",
    "link":""
  },
  {
    "image":"/img/2024/55.jpg",
    "name":"In 50 Hours",
    "content":"Experience talent, innovation, and creativity converge in a 50-hour sprint. Top coders collaborate for rapid product development, challenging software development limits at In 50 Hours. Join us for an electrifying showcase of skill and groundbreaking innovation.",
    "link":""
  },
  {
    "image":"/img/2024/women.png",
    "name":"Women Zone",
    "content":"The Women Zone at Huddle Global 2024 empowers women in tech, business, and innovation. It features Women in Leadership Talks, the Women Entrepreneurs Expo, and the Women Innovators Hub, showcasing female-led startups and offering mentorship. With exclusive bootcamps and masterclasses, it provides valuable insights and skills for women-led startups, celebrating achievements and fostering growth across industries.",
    "link":""
  },
  {
    "image":"/img/2024/AAD00463.jpeg",
    "name":"Bootcamp",
    "content":' ',
    "link":"/bootcamp"
  },
  {
    "image":"/img/productlaunch.png",
    "name":"Product Launch",
    "content":'Is your company ready to introduce a groundbreaking product to the world? Huddle Global 2024 offers an unparalleled stage for product launches, giving you the opportunity to captivate a global audience of industry leaders, media, investors, and potential customers.',
    "link":"/productlaunch"
  }, 
  {
    "image":"/img/close_the_deal/closethedeal.png",
    "name":"Close the deal",
    "content":'Get your Deal from Huddle Global. CTD will get you connected with corporates and Government. If the product is good and can be adopted by respective partners, get your deal closed at Huddle Global.',
    "link":"/close_the_deal"
  },

   {
    "image":"/img/2150010125.png",
    "name":"Top 100 Coders",
    "content": "Welcome to the Top 100 Coders, the highlight of Huddle Global 2024! This event aims to identify and showcase the most talented coders from across India and connect them with startups and industries. Our mission is to foster a vibrant startup ecosystem and turn these talented individuals into a valuable resource army.",
    "link":"https://www.top100series.com/"
  },


];
---

<style lang="scss">

  .flipbox {
    &.flip-bottom {
      &:hover {
        .flipbox-front {
          transform: rotateX(-180deg);
        }
        .flipbox-back {
          transform: rotateX( 0deg);
        }
      }
      .flipbox-back {
        transform: rotateX(180deg);
      }
    }
    &.flip-right {
      &:hover {
        .flipbox-front {
          transform: rotateY(-180deg);
        }
        .flipbox-back {
          transform: rotateY( 0deg);
        }
      }
      .flipbox-back {
        transform: rotateY(180deg);
      }
    }
    &:hover {
      .readmore-button {
        animation-delay: 500ms !important;
      }
    }
    .flipbox-wrapper {
      text-align: center;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      perspective: 1000px;
      min-height: 300px;
      .flipbox-front,
      .flipbox-back {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        perspective: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fff;
        box-shadow: 0 26px 38px 0 rgb(0 0 0 / 20%);
        transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .flipbox-front {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: white;
        color: white;
        background-size: cover;
        background-position: center;
        &::before{
          content: '';
          background: #000;
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 50%;
          border-radius: 10px;
        }
        .title {
          position: relative;
          z-index: 5;
          text-align: center;
          width: 100%;
          transform: translate3d(0, 0, 70px) scale(0.86);
          transform-style: preserve-3d;
          perspective: inherit;
          backface-visibility: hidden;
          font-size: 35px;
          font-weight: 900;
          line-height: 1.2;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
        }
      }
      .flipbox-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #c70000;
        color: white;
        padding: 1rem;
        .title {
          backface-visibility: hidden;
          transform: translate3d(0, -10px, 35px) scale(0.86);
          line-height: 20px;
          font-size: 10rem;
          font-weight: 700;
          opacity: .25;
        }
        .content {
          transform-style: preserve-3d;
          perspective: inherit;
          transform: translateZ(70px) scale(0.86);
          backface-visibility: hidden;
          font-size: 1rem;
          font-weight: 300;
          // padding: 32px;
        }
      }
    }
  }

  .readmore-button {
    display: inline-flex;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -27.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    background: #c70000;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }

  .readmore-wrapper:hover {
    .readmore-button {
      animation: bounceReadMore .5s ease-in-out both;
      opacity: 1;
      visibility: visible;
      margin: 0;
    }
  }

  @keyframes bounceReadMore {
    0% {
      transform: translateY(-35px) translateZ(20px)
    }
    50% {
      transform: translateY(15px) translateZ(20px)
    }
    100% {
      transform: translateY(0) translateZ(20px)
    }
  }


</style>

<div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {tracks1.map((item) => (
    item.link ? (
      <a
        href={item.link} target="_blank"
        class={"flipbox readmore-wrapper " + ((tracks1.indexOf(item) % 2 === 0) ? "flip-bottom" : "flip-right")}
      >
        <div class="flipbox-wrapper">
          <div
            class="flipbox-front"
            style={item.image ? "background-image: url(" + item.image + ")" : ""}
          >
            <h5 class="title">{item.name}</h5>
          </div>
          <div class="flipbox-back">
            <div class="content">
              {item.content}
            </div>
            <div class=" bottom-2 absolute">
              <div class="readmore-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg>
          </div>
          </div>
          </div>
        </div>
      </a>
    ) : (
      <div
        class={"flipbox readmore-wrapper " + ((tracks1.indexOf(item) % 2 === 0) ? "flip-bottom" : "flip-right")}
      >
        <div class="flipbox-wrapper">
          <div
            class="flipbox-front"
            style={item.image ? "background-image: url(" + item.image + ")" : ""}
          >
            <h5 class="title">{item.name}</h5>
          </div>
          <div class="flipbox-back">
            <div class="content">
              {item.content}
            </div>
          </div>
        </div>
      </div>
    )
  ))}
</div>


